
body{
	background-color:#F5BCA9;
    font-family: arial;
    font-size: 1.5em; 
    color: black;
}

a:link{ 
    color: blue;
}

a:hover {
    color: red;
}

a:visited { 
    font-family: Verdana;
    color: blue;
}

.nav{
	text-align:center;
	padding: 0px;
	font-size: 3em;
}

.izqu{
	float: left;
	display: inline-block;
	width: 50%;
	margin-bottom: 3em;
}


.der{
	float: right;
	display: inline-block;
	width: 40%;
	margin-top: 4em;
}

.last{
	clear: both;
}